/*body {position:relative;}*/

#bokeh {position:fixed;}
.bokeh-parallax {position: absolute;}
#bokeh,
.bokeh-parallax {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
	}


.bokeh {
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#ffffff',GradientType=1 );
	box-shadow:0 0 5px 5px #fff;
    border-radius: 50% 50% 50% 50%;
    width: 150px;
    height: 150px;
    opacity: 0.6;
    position: absolute;
	opacity:.1;
	transition-property:top;
	transition-duration:100ms;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* IE and Opera - use
transform: translate(0,0);
*/
